button {
  font-size: 24px;
  padding: 10px 5px 10px 5px;
}

.Actions {
  border: whitesmoke 2px solid;
  border-radius: 20px;
  margin-top: 50px;
  padding: 14px 0 14px 0;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
}

.deal-hidden {
  visibility: hidden;
}

.switch-hidden{
  visibility: hidden;
}

.split-hidden{
  visibility: hidden;
}

.hit-hidden {
  visibility: hidden;
}

.stay-hidden{
  visibility: hidden;
}

.double-hidden{
  visibility: hidden;
}

.reset-hidden {
  visibility: hidden;
}