.one-card {
	animation: dealCard .6s;
	display: inline-block
}
@keyframes dealCard{
	0%{transform: translate(350px,-300px)}
	100%{}
}

.hand-active {
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
	background-color: rgba(168, 255, 168, 0.678);
	padding: 16px 12px 0px 12px;
	border-radius: 25px;
}

.cards{
	height: 150px;
}

.check {
	color: goldenrod;
	font-style: italic;
	font-size: .8em;
	animation: result .4s;
}
.check-hide{
	font-size: 0px;
  display: none
}
@keyframes result{
	0%{transform: translate(0px, 50px)}
	100%{transform: translate(0px, -20px)}
}


/* .hand-active .cards {
	border: 10px dashed black;
	display: inline;
	height: 150;
} */
