.card {
	animation: dealCard .6s;
	display: inline-block
}
@keyframes dealCard{
	0%{transform: translate(350px,-300px)}
	100%{}
}

.hand-active {
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

/* .hand-active .cards {
	border: 10px dashed black;
	display: inline;
	height: 150;
} */