/* Dropdown Button */
.dropbtn {
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 16px;
  border-bottom: 2px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  float: right;
  background-color: black
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

.info {
  margin-right: 30px;
  font-size: 1.2em;
  color: rgb(161, 83, 172);
}