.table {
  background-color: #0c691e;
  background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
  border: 20px solid saddlebrown;
  color: whitesmoke;
  padding: 20px 0 90px 0;
}
