.table {
  background-color: #0c691e;
  background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
  border: 3em;
  height: 100%;
  width: 80%;
  border-radius: 50%;
  margin: auto;
  margin-top: 30px;
  border: 10px solid brown
}


