.modal-container {
background-color: rgba(0, 0, 0, 0.3);
display: flex;
align-items: center;
justify-content: center;
position: fixed;
top: 0;
left: 0;
height: 100vh;
width: 100vw;
z-index:1000;
}

.modal {
    position: relative;
    display: flex;
    flex-direction: column;
    width: "25rem";
    height: "25rem";
    min-width: 0;
    text-align: left;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.img {
    padding:10px 10px;
    max-width: 100%;
}

